#element1 {
    /* width: 500px;
    height: 400px; */
    padding: 10px;
    margin: auto;
    border: solid 2px green;
    color: red;
    font: italic small-caps lighter large/30px serif;
    background: url('51XOzFSJOJL._SL1000_2.jpg') no-repeat center center;
    background-clip: content-box;
    background-size: cover;
    text-decoration: underline yellow dotted;
}